.moviesCard__time {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  margin: 6px 0 0;
}

@media screen and (max-width: 428px) {
  .moviesCard__time {
    font-size: 10px;
    line-height: 12px;
  }
}
