.profile__button_type_submit {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  background-color: #3456f3;
  width: 100%;
  height: 45px;
  color: white;
  border-radius: 3px;
  display: block;
}

.profile__button_type_submit:disabled {
  background-color: #f8f8f8;
  color: #c2c2c2;
}
