.pageNotFound__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 5px auto;
}

@media screen and (max-width: 768px) {
  .pageNotFound__text {
    margin: 5px auto 0;
  }
}

@media screen and (max-width: 428px) {
  .pageNotFound__text {
    font-size: 12px;
    line-height: 15px;
    margin: 10px auto 0;
  }
}
