.header__register-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: white;
  text-decoration: none;
  transition: opacity 100ms ease-in-out;
}

.header__register-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 428px) {
  .header__register-link {
    font-size: 10px;
    line-height: 16px;
  }
}
