.header__content {
  display: flex;
  align-items: center;
  margin: 20px 0px 21px 0;
}

@media screen and (max-width: 428px) {
  .header__content {
    margin: 24px 0px 0px 0;
  }
}

/* @media screen and (max-width: 852px) {
   {
    display: none;
    position: fixed;
    background-color: #f2f2f2;
    width: 80%;
    height: 100vh;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    flex-direction: column;
  }
} */
