.authpage__api-error {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #ff004c;
  margin: 6px 0;
  min-height: 14px;
}

@media screen and (max-width: 428px) {
  .authpage__api-error {
    min-height: 28px;
  }
}
