.header {
  background-color: #073042;
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 428px) {
  .header {
    padding: 0 14px;
  }
}
