.header__signin {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background-color: #2be080;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  transition: opacity 100ms ease-in-out;
  text-decoration: none;
  color: black;
  margin-left: 30px;
  padding: 8px 20px;
  /* padding: 0; */
}

.header__signin:hover {
  opacity: 0.8;
}

@media screen and (max-width: 428px) {
  .header__signin {
    font-size: 10px;
    line-height: 16px;
    margin-left: 14px;
    padding: 5px 12px;
  }
}
