.header__signin {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background-color: #2be080;
  border-radius: 3px;
  border: 0;
  padding: 0;
  cursor: pointer;
  padding: 8px 20px;
  margin-left: 30px;
  transition: opacity 100ms ease-in-out;
  text-decoration: none;
  color: black;
  background-image: url(../../../images/favorite.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.header__signin:hover {
  opacity: 0.8;
}
