.aboutProject {
  padding: 70px 70px 110px;
}

@media screen and (max-width: 768px) {
  .aboutProject {
    padding: 70px 50px 90px;
  }
}

@media screen and (max-width: 428px) {
  .aboutProject {
    padding: 60px 18px 70px;
  }
}
