.searchForm__checbox-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 0 12px;
}

@media screen and (max-width: 428px) {
  .searchForm__checbox-text {
    font-size: 11px;
    line-height: 18px;
    margin: 0 0 0 13px;
  }
}
