.moviesCardList__more-button {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  background-color: transparent;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  width: 320px;
  height: 36px;
  cursor: pointer;
  transition: opacity 100ms ease-in-out;
  padding: 0;
}

.moviesCardList__more-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 428px) {
  .moviesCardList__more-button {
    width: 240px;
    height: 36px;
  }
}
