.searchForm__checbox-container {
  display: flex;
  justify-content: center;
  margin-top: 29px;
}

@media screen and (max-width: 428px) {
  .searchForm__checbox-container {
    margin-top: 42px;
  }
}
